    <form action="{{path('asn_search',{"asn":NULL})}}">
        <div class="asrank-asn-search-form-div input-group"
            <label for="asn_search"></label>
            <input type="text" class="form-control" value="{{name}}" name="name"
            placeholder="ASN name or number">
            <button type="search" name="type" value="search" class="btn btn-primary" style="margin-left:.2em;">search</button>
            <button type="search" name="type" value="go to" class="btn btn-primary" style="margin-left:.2em;">go to</button>
        </div>
    </form>
