<footer class="footer">
<div id="footer" class="container-full asrank-footer">
<div class="row">
    <div id="footer-dataset" rel="tooltip" class="col-3 col-lg-2" title="" data-toggle="tooltip">
        <!-- a href="https://www.dhs.gov/"> <img src="{{asset('images/dhs-logo.svg')}}"
        class="d-none d-sm-inline-block asrank-support-dhs-logo"> </a-->
        <a href="https://www.ucsd.edu/"> <img src="{{asset('images/ucsd-seal.svg')}}"
        class="d-none d-sm-inline-block asrank-support-ucsd-seal"> </a>
    </div>
    <div class="col-9 col-lg-10 asrank-support">
        <a href="http://www.caida.org"> <img src="{{asset('images/caida-logo.svg')}}" class="asrank-support-caida-logo"> </a>
        <span class="asrank-support-text">
            Support for this work is provided by the U.S. Department of Homeland Security's Science and Technology Directorate (
                <a href="https://www.caida.org/funding/cybersecurity/">Cybersecurity</a> N66001-08-C-2029,
                <a href="http://www.caida.org/funding/sister/">SISTER</a> HHSP 233201600012C
                ),
            the National Science Foundation Internet Laboratory for Empirical Network Science (
                <a href="http://www.caida.org/funding/dibbs-panda/">PANDA</a> NSF OAC-1724853, 
                <a href="https://www.caida.org/funding/ilens/">iLENS</a> CNS-0958547,
                <a href=" https://sciencegateways.org/">Science Gateway</a> NSF ACI--1547611),
            and Cisco's University Research Program.
        </span>
    </div>
</div>
</div>
</footer>

