<a href="{{ path('default')}}">
    <img src="{{asset('images/asrank-logo-letters.svg')}}" class="img-fluid asrank-asrank-logo">
    <img src="{{asset('images/asrank-logo-ank.svg')}}" class="d-none d-sm-inline-block img-fluid asrank-asrank-logo" style="margin-left:-2px">
</a>
